header
    nav
        ul
            li
                a(routerLink="/" routerLinkActive="active") Home
                a(routerLink="/imprint" routerLinkActive="active" i18n="@@general.imprint") Imprint
