header
    nav.lang
        ul
            li
                a(href="/de/de") German
                a(href="/de/en") Englisch
    nav.main
        ul
            li
                a(routerLink="/" routerLinkActive="active") Home
                a(routerLink="/imprint" routerLinkActive="active" i18n="@@general.imprint") Imprint
