header
    nav.lang
        ul
            li
                a(href="/de/de") Deutsch
                a(href="/de/en") English
    nav.main
        ul
            li
                a(routerLink="/" routerLinkActive="active" i18n="@@general.home") Home
                a(routerLink="/imprint" routerLinkActive="active" i18n="@@general.imprint") Imprint
